Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @*<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">*@
    <style type="text/css" media="screen">
        a:link {
            color: #FFF;
            text-decoration: none;
        }

        a:visited {
            color: #FFF;
            text-decoration: none;
        }

        a:hover {
            color: #164064;
            text-decoration: none;
        }

        a:active {
            color: #E9E9E9;
            text-decoration: underline;
        }
    </style>
</head>
<body style="background-color:white">

        <table width="600" cellpadding="0" cellspacing="0" style="padding-top:10px; padding-bottom:10px;">
            <tr>
                <td align="center" valign="middle" style="height:50px; color:#FFF; background-color:#4682b4; padding-left:20px;  font-size:28px; font-weight:bold; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">Supplies Order Confirmation</td>
            </tr>
            <tr>
                <td align="center" valign="top" style="color:#236923; background-color:#e1fbd7; padding:20px; font-size:14px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">
                    You have successfully completed your order
                </td>
            </tr>
            <tr>
                <td align="center" valign="top" style="color:#444; background-color:#FFF; font-size:18px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">
                    <table style="width:100%; color:#444; background-color:#FFF; font-size:14px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">
                        <tr>
                            <th style="text-align:center; width:33%">Order number</th>
                            <th style="text-align:center; width:34%">Date</th>
                        </tr>
                        <tr>
                            <td style="text-align:center; width:33%">@ViewBag.orderno</td>
                            <td style="text-align:center; width:34%">@ViewBag.orderdate</td>
                        </tr>
                    </table>
                    <hr/>
                    <br />

                    <table class ="table-bordered"style="width:100%; color:#444; background-color:#FFF; font-size:14px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">
                        <tr>
                            <th style="text-align:center; width:33%">Item</th>
                            <th style="text-align:center; width:34%">Quantity</th>
                        </tr>
                        @foreach (var item in ViewBag.items)
                        {
                            <tr>
                                <td style="text-align: center; width: 33%">@item.Item.Description</td>
                                <td style="text-align: center; width: 34%">@item.Quantity</td>
                            </tr>
                        }
                        </table>

                </td>
            </tr>


        </table>

</body>
</html>


